/* Document   : style
    Created on : 29.jun.2012, 15:41:47
    Author     : Kenneth Berentzen
    Description:
        Purpose of the stylesheet follows. -> Admin area
*/

/*
Top header styling
*/
.logoheader {
margin-top:20px; 
float:left; 
height:27px; 
width:360px; 
font-size: 16px; 
padding:10px;
text-align:center; 
margin-bottom:5px;
color: #ffffff;
-moz-border-radius: 20px; 
font-weight:bold; 
border-radius: 20px; 
background: #555555;
}

.headerbutton {
margin-top:20px; 
float:left; 
height:27px; 
margin-left:5px; 
width:80px; 
font-size: 16px; 
padding:10px;
text-align:center; 
margin-bottom:5px; 
color: #ffffff;
-moz-border-radius: 20px; 
font-weight:bold; 
border-radius: 20px; 
background: #555555;
}
.headerbutton:hover {
    background-color:#111111;
}

.scc_largebutton {
margin-top:20px; 
float:left; 
height:27px; 
margin-left:5px; 
font-size: 16px; 
padding:10px;
text-align:center; 
margin-bottom:5px; 
color: #ffffff;
-moz-border-radius: 20px; 
font-weight:bold; 
border-radius: 20px; 
background: #555555;
}
.scc_largebutton:hover {
    background-color:#111111;
}

#ken-remix-comp-clear {
  clear:both;
}

/* Tabbes style */
.tabs {
  position: relative;   
  min-height: 520px; /* This part sucks */
  clear: both;
  margin: 10px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  text-align: center;
  width:100px;
  height:5px;
  margin:2px;
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}