/* 
    Document   : style
    Created on : 29.jun.2012, 15:41:47
    Author     : Kenneth Berentzen
    Description:
        Purpose of the stylesheet follows.
*/



#ken_nb_red {
width: 400px;
padding: 5px;
font-size: .75em;
border: 1px solid #ccc;
background: #eee;
margin: 0px;
color: red;
}

#ken_nb {
width: 400px;
padding: 5px;
font-size: .75em;
border: 1px solid #ccc;
background: #eee;
}

#ken_upload {
margin-bottom: 5px;
background: url(../images/upload.png) no-repeat 0 0;
height: 29px;
width: 101px;
display: inline-block;
text-indent: -9999px;
opacity: 0.6;
}
#ken_upload:hover {
opacity: 1;
}
#ken_info {
margin-bottom: 5px;
margin-right: 5px;
background: url(../images/info.png) no-repeat 0 0;
height: 29px;
width: 73px;
display: inline-block;
text-indent: -9999px;
opacity: 0.6;
}
#ken_info:hover {
opacity: 1;
}
#ken_connect {
background: url(../images/connect.png) no-repeat 0 0;
height: 29px;
width: 242px;
display: inline-block;
text-indent: -9999px;
opacity: 0.6;
}
#ken_connect:hover {
opacity: 1;
}
#ken_disconnect {
background: url(../images/disconnect.png) no-repeat 0 0;
height: 29px;
width: 140px;
display: inline-block;
text-indent: -9999px;
position: absolute;
top: 28px;
right: 10px;
opacity: 0.6;
}
#ken_disconnect:hover {
opacity: 1;
}

#facebook_p{
	background-image: url(../images/facebook_0.PNG);
	background-repeat: no-repeat;
	margin:0px;
	padding:0px;
	float:left;
	width:88px;
}
#google_p{
	margin:0px;
	padding:0px;
	float:left;
	width:60px;
}
#twitter_p{
	margin:0px;
	padding:0px;
	float:left;
	width:82px;
}
#rmx_titie {
        margin:0px;
	float:left;
}


#user_image {
        float:left;
        margin-right: 5px;
        opacity:0.9;
        filter:alpha(opacity=90); /* For IE8 and earlier */
}

#user_image a:hover {
        opacity:0.4;
        filter:alpha(opacity=40); /* For IE8 and earlier */
}

#user_image a:visited {
        border: 1px solid #ccc;
}

#clear {
	clear:both;
}

/* Wrapp single entree */
#r_wrap{
position:relative;
margin-bottom: 10px;
background: #eee;
border: 1px solid #ccc;
padding: 4px 7px;
}

/* vote */
.r_vote{
position:absolute;
padding: 4px 7px;
top:0;
right:0;
width: 50px;
text-align: right;
border: 0px solid #000;
}

/* vote */
#r_votes{
font-size: 10px;
margin-right: 3px;
}

/* form ------------------------------------ */
textarea{
background: #fff;
width: 400px;
height: 50px;
padding: 3px 5px;
border: 1px solid #ccc;
-moz-border-radius-topleft: 7px;
-moz-border-radius-bottomright: 7px;
-webkit-border-top-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
}
select {
background: #fff;
width: 410px;
padding: 3px 5px;
border: 1px solid #ccc;
color: #333;
-moz-border-radius-topleft: 7px;
-moz-border-radius-bottomright: 7px;
-webkit-border-top-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
}
input.text {
background: #fff;
width: 400px;
height: 20px;
padding: 3px 5px;
border: 1px solid #ccc;
-moz-border-radius-topleft: 7px;
-moz-border-radius-bottomright: 7px;
-webkit-border-top-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
}

